<%= form_with(model: feature_request, local: true) do |form| %>
  <% if feature_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feature_request.errors.count, "error") %> prohibited this feature_request from being saved:</h2>

      <ul>
      <% feature_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :feature_request_name, placeholder: 'Feature Name' %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details, rows: 5, id: :feature_request_details, placeholder: 'Feature Request Details' %>
  </div>

  <div class="field">
    <%= form.label :difficulty %>
    <%= form.select :difficulty, (1..10).collect { |n| [n, n]}, id: :feature_request_difficulty %>
  </div>

  <div class="actions">
    <%= form.submit 'Create', class: 'button' %>
  </div>
<% end %>
